<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/layout/template.xhtml">

    <ui:define name="pageTitle">Something was wrong</ui:define>
    <ui:define name="content">

        <div class="row" >
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Error Details</div>
                    <div class="panel-body">
                        <p>${ex}</p>
                    </div>	
                </div>	
            </div>
        </div>
    </ui:define>
</ui:composition>
